body {
    margin: 0;
}

#content {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
}
.title {
    color: green;
    
}

.image {
    height: 100vh;
    width: 60vw;
    grid-area: 1 / 1 / span 4;
}
